{% if messages %}
<div class="col-sm-12">
    {% for message in messages %}
        <div class="alert  alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success" style="text-transform: capitalize;">{{ message.tags }}</span> {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
{% endif %}