{% load static %}
<div style="padding:0px 60px 0px 60px;">

    <div class="section-title">
      <h2>Our Story</h2>
    </div>

    <center>
      <img src="{% static 'execom.jpg' %}" class="img-fluid" alt="">
    </center>
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <h3><i class="icofont-check-circled"></i> Mission</h3>
        <p>
            {{ context_object_about.mission }}
        </p>
        <h3><i class="icofont-check-circled"></i> Vision</h3>
        <p>
            {{ context_object_about.vision }}
        </p>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
        <h3>{{ context_object_about.header }}</h3>
        <p class="font-italic">
          {{ context_object_about.content }}
        </p>
      </div>
    </div>

  </div>