<div class="container">

   <div class="section-title">
     <h2>Branch</h2>
     <p>No. 1 Supplier, Inc. all branches and history of ours.</p>
   </div>

   <div class="row">
     {% for field in context_object_branch %}
     <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
       <div class="member">
         <img src="/media/{{ field.image }}" alt="" class="img-fluid" style="width: 100%; border-radius: 10px;">
         <h4>{{ field.title|upper }}</h4>
         <span style="text-transform: capitalize;">{{ field.address }}</span>
         <p>
           {{ field.content|slice:":100" }} ...
         </p>
         <div class="social">
           <a href="{% url 'website:read' pathfind='branch' pk=field.id %}">Read more <i class="icofont-arrow-right"></i></a>
         </div>
       </div>
     </div>
     {% endfor %}
   </div>
 </div>