<div class="container">
<div class="section-title">
   <h2>Contact Us</h2>
   <p>We want to here from you... Contact us <strong>@</strong>,</p>
</div>

<div class="row">
   <div class="col-lg-6">
      {% for field in context_object_branch %}
      <div class="col-lg-4 col-md-4">
      <div class="info">
         <h6 style="text-transform: uppercase; font-weight: bolder;">{{ field.title }}</h6>
         <div>
            <i class="icofont-google-map"></i>
            <p>{{ field.address }}</p>
         </div>

         <div>
            <i class="icofont-envelope"></i>
            <p>{{ field.email }}</p>
         </div>

         <div>
            <i class="icofont-phone"></i>
            <p>{{ field.phonenumber }}</p>
         </div>
      </div>
      </div>
      <hr>
      {% endfor %}
   </div>
   <div class="col-lg-6">
      <form action="" method="post">
         {% csrf_token %}
         {{ context_contactus }}
         <br>
         <div class="form-group">
            <button type="submit" class="btn btn-md btn-primary form-control">Send</button>
         </div>
      </form>
   </div>
</div>
</div>