<div class="container">
    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
    </div>

    <ul class="faq-list">
      {% for field in context_object_faq %}
      <li>
        <a data-toggle="collapse" class="" href="#faq{{ forloop.counter }}" style="color: #0000cc !important;">{{ field.title|upper }} <i class="icofont-simple-down"></i></a>
        <div id="faq{{ forloop.counter }}" class="collapse" data-parent=".faq-list">
          <p>
            {{ field.content|linebreaks }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>