<div class="container">

   <div class="section-title">
     <h2 style="color: #fff;">Achievements & Certificates</h2>
     <p>“...you can’t plan out or perfectly schedule the big moments in your life. They just happen to you when they happen, sometimes because you made them happen and sometimes because you couldn’t stop them from happening.” <i>― Caitlin Rush, Curses Beneath Her Feet</i></p>
   </div>

   <div class="row">
     {% for field in context_object_milestone %}
     <div class="col-lg-4 col-md-6 icon-box">
       <center>
         <div class="icon text-white" style="font-size: 30px;"><i class="icofont-certificate"></i></div>
         <h4 class="title"><a href="{% url 'website:read' pathfind='milestone' pk=field.id %}">{{ field.title }}</a></h4>
         <h6 style="color: #fff !important;">{{ field.date }}</h6>
         <p class="description">{{ field.content|slice:":100" }} ...</p>
      </center>
     </div>
     {% endfor %}
   </div>
 </div>