<div class="container">

   <div class="section-title">
     <h2>News &amp; Event</h2>
   </div>

   <div class="row">
     <div class="col-lg-12">
       <ul id="portfolio-flters">
         <li data-filter="*" class="filter-active">All</li>
         <li data-filter=".filter-news">News</li>
         <li data-filter=".filter-event">Event</li>
       </ul>
     </div>
   </div>

   <div class="newseventslides">
   <div class="row portfolio-container">
     {% for field in context_object_newsevent %}
     <div class="col-lg-4 col-md-6 filter-{{ field.category|lower }}">
       <div class="portfolio-item">
         <img src="/media/{{ field.image }}" class="img-fluid" style="height: 200px;" alt="">
         <div class="portfolio-info">
           <h3><a href="/media/{{ field.image }}" data-gall="portfolioGallery" class="venobox" title="{{ field.title|upper }}">{{ field.title|upper }}</a></h3>
           <div>
             <a href="{% url 'website:read' pathfind='newsevent' pk=field.id %}" title="Read">Read</a>
           </div>
         </div>
       </div>
     </div>
     {% endfor %}
   </div>
  </div>

 </div>