{% extends 'base/panelbase.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'table/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'table/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'table/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#table').DataTable();
  });
</script>
{% endblock %}

{% block title %}{{ context_title }}{% endblock %}
{% block subtitle %}{{ context_title }}{% endblock %}

{% block content %}
<a href="{% url 'core:doughlist' %}" class="btn btn-sm btn-success"><i class="fa fa-table"></i> Entity Item List</a>
<a href="{% url 'core:createcategory' %}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New Food Category</a>
<a href="{% url 'core:createproduct' %}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New Food Menu</a>
<table id="table" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Food Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for field in object %}
      <tr>
        <td style="text-transform: capitalize;">{{ field.category }}</td>
        <td>
          <ul class="list-inline">
            <li class="list-inline-group">
              <a href="{% url 'core:foodlist' category=field.pk %}" class="btn btn-sm btn-primary">View Food Menu <i class="fa fa-arrow-right"></i></a>
            </li>
            <li class="list-inline-group">
              <a href="{% url 'core:updatecategory' pk=field.pk %}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
            </li>
            <li class="list-inline-group">
              <form action="{% url 'core:removecategory' pk=field.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
              </form>
            </li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
