{% extends 'base/panelbase.html' %}

{% load static %}

{% block title %}{{ context_title }}{% endblock %}
{% block subtitle %}{{ context_title }}{% endblock %}

{% block css %}
<style type="text/css">
.ticket {
  display: none;
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    * {
        font-size: 17px;
        font-family: 'Times New Roman';
    }
    @page {
      margin: 0;
    }
    body {
      color: black;
    }
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
    .ticket {
      display: block;
      width: 100%;
      left: 0;
      right: 0;
      padding: 0;
    }
    .no-print-view {
      display: none;
    }
    button {
      display: none;
    }
}
</style>
{% endblock %}

{% block content %}

<button onclick="window.print();">Print Reciept</button>

<table class="table table-striped no-print-view" style="width:100%">
  <thead>
    <tr>
      <th>Invoice No.</th>
      <th>Order Item</th>
      <th>Price</th>
      <th>Qty Order</th>
    </tr>
  </thead>
  <tbody>
    {% for field in object %}
      <tr>
        <td>{{ field.invoice_no.invoice_no }}</td>
        <td>{{ field.product_name }}</td>
        <td>{{ field.price }}</td>
        <td>{{ field.qty }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="ticket">
  <center>
    <img src="{% static 'jsquared.png' %}" style="width: 100px; height: 100px;" alt="Logo">
  </center>
  <p class="centered">RECEIPT</p>
  <table>
      <thead>
          <tr>
              <th class="quantity">Q.</th>
              <th class="description">Description</th>
              <th class="price">Price</th>
          </tr>
      </thead>
      <tbody>
        {% for field in object %}
          <tr>
            <td class="quantity">{{ field.qty }}</td>
            <td class="description">{{ field.product_name }}</td>
            <td class="price">{{ field.price }}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  <p class="float-right">Total: {{ context_total_purchase }}</p>
</div>

<h2 class="float-right no-print-view">Total: {{ context_total_purchase }}</h2>

<div class="clearfix"></div>
{% endblock %}
