{% extends 'base/login.html' %}

{% block content %}

{% if form.non_field_errors %}
    {% for key, error in form.errors.items %}
        {% for error_message in error %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form action="" method="post" role="form">
    {% csrf_token %}
    <fieldset>
        {% for f in form %}
        <div class="form-group">
            <label for="{{ f.id_for_label }}">{{ f.label|upper }}</label>
            {{ f }}
            {% if f.errors %}
                {% for error_message in f.errors %}
                    <span class="text-muted color-red">{{ error_message }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Log in</button>
    </fieldset>
</form>
{% endblock %}