{% extends 'base/panelbase.html' %}

{% block title %}{{ context_title }}{% endblock %}
{% block sub_title %}{{ context_title }}{% endblock %}

{% block content %}
<table id="table" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for field in object %}
      <tr>
        <td>{{ field.time }}</td>
        <td>{{ field.status }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
