{% extends 'base/panelbase.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'system/table/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'system/table/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'system/table/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#table').DataTable();
  });
</script>
{% endblock %}

{% block title %}{{ context_title }}{% endblock %}
{% block sub_title %}{{ context_title }}{% endblock %}

{% block content %}
<form action="{% url 'admin:generatereport' %}" method="post" target="_blank">
{% csrf_token %}
<input type="hidden" name="next" value="{{ request.path }}">
<div class="row">
  {% for f in context_form %}
  <div class="form-group col-lg-4">
    <label for="{{ f.id_label_tag }}">{{ f.label }}</label>
    {{ f }}
  </div>
  {% endfor %}
  <div class="form-group col-lg-4">
    <button type="submit" class="btn btn-sm btn-primary form-control text-white">Generate Report</button>
  </div>
</div>
<table id="table" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for field in object %}
      <tr>
        <td>
          <input type="checkbox" name="employee" value="{{ field.employee }}" />
        </td>
        <td>{{ field.employee }}</td>
        <td>{{ field.first_name }}, {{ field.last_name }}</td>
        <td>
          <a href="{% url 'admin:datelogs' employee_id=field.employee %}" class="btn btn-sm btn-primary">View Date Logs <i class="fa fa-arrow-right"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}
