{% extends 'base/panel.html' %}

{% load static %}

{% block header %}Upload{% endblock %}
{% block title %}Upload{% endblock %}

{% block content %}
<div class="panel-body">

  {% include 'helpers/messages.html' %}

  <script>
    function showProgress() {
      document.querySelector('#loader').style.display = 'block';
    }
  </script>

  <div id="loader" style="display: none;">
    <table>
      <tr>
        <td>
          <img src="{% static 'loading.gif' %}" alt="" style="width: 100px; height: 100px;">
        </td>
        <td>Syncing, Have some coffee while waiting ...</td>
      </tr>
    </table>
  </div>

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <button type="submit" class="btn btn-md btn-primary form-control" onclick="showProgress();">Sync Record</button>
    </div>
  </form>
</div>
{% endblock %}
