{% extends 'base/panel.html' %}

{% block icon %}fa-cog{% endblock %}
{% block title %}{{ context_title|safe }}{% endblock %}
{% block subtitle %}{{ context_title|safe }}{% endblock %}

{% block content %}

<div class="form-group">
    <div class="alert bg-primary"><a href="{% url 'backend:updateuser' %}"><i class="fa fa-user"></i> Update Admin Information</a></div>
</div>

<div class="form-group">
    <div class="alert bg-primary"><a href="{% url 'backend:changepassword' %}"><i class="fa fa-lock"></i> Change Password</a></div>
</div>

{% endblock %}