{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADA FORM</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Arial;
      font-size: 11px;
    }

    @media print {
      @page {
        margin: 0;
      }
    }

    .container {
      page-break-after: always;
      padding: 50px;
    }

    img.logo {
      width: 300px;
      height: 65px;
    }

    table.table-a {
      width: 100%;
    }

    .plan-content {
      width: 250px;
      height: auto;
      word-wrap: break-word;
      margin-left: 40px;
    }

    h3 {
      margin: 10px 0px;
    }

    .terms {
      margin: 10px 0px;
      font-size: 20px;
    }

    ol li {
      margin: 20px 0px;
    }

    .note {
      margin: 30px 0px;
      border: 1px solid #000;
      padding: 20px;
    }
  </style>
</head>
<body onload="window.print();">
  {% for field in object %}
  <div class="container">
    <center>
      <img src="{% static 'brandlogo.png' %}" alt="" class="logo">
    </center>

    <center>
      <h3>AUTOMATIC DEDUCTION ADIVCE</h3>
    </center>

    <table cellspacing="10" class="table-a">
      <tbody>
        <tr>
          <td style="width: 100px;"><p>NAME</p></td>
          <td style="width: 500px; border-bottom: 0.5px solid #000;">{% if field.current_user != '' and field.current_user != None %}{{ field.current_user }}{% else %}{{ field.fullname }}{% endif %}</td>
          <td style="width: 100px;"><p>DATE</p></td>
          <td style="width: 500px; border-bottom: 0.5px solid #000;"><script>document.write(((new Date()).getMonth() + 1) + '/' + ((new Date()).getDate()) + '/' + ((new Date()).getFullYear()));</script></td>
        </tr>
        <tr>
          <td style="width: 100px;"><p>DEPARTMENT</p></td>
          <td style="width: 500px; border-bottom: 0.5px solid #000;">{{ field.department }}</td>
          <td style="width: 100px;"><p>POSITION</p></td>
          <td style="width: 500px; border-bottom: 0.5px solid #000;">{{ field.position }}</td>
        </tr>
      </tbody>
    </table>

    <center>
      <p style="margin: 20px 0px;">In relation to Standing Instruction No. 1 - Communication Allowance. Below is the compnay property under your responsibility.</p>
    </center>

    <h3>CORPORATE SMART PLAN COVERAGE</h3>
    <table cellspacing="0px" class="plan-content">
      <tr>
        <td dir="rtl" style="vertical-align: top;">- PLAN {{ field.plan }}</td>
        <td style="padding-left: 10px;">{{ field.package|linebreaks }}</td>
      </tr>
    </table>

    <p class="terms">Terms and Conditions</p>

    <ol>
      <li>To ensure that this privilege will primarily serve the purpose of enhancing work efficiency and performance.</li>
      <li>To ensure that your cell line is active at all times and the cellphone unit assigned to you is in good working condition so that you can be reached to receive or relay vital information during reasonable hours as determined by business requirements.</li>
      <li>To exercise prudence by managing your bills within allowable costs allocated. (see plan coverage)</li>
      <li>Employees are given maximum of 3days from receiving the bill to justify official calls.</li>
      <li>Excess bills will be automatically charged against the employees account via salary deduction on the next payroll in <strong>FULL PAYMENT</strong>.</li>
      <li>6. On a case to case basis, if the bill still exceeds allowable amount, employee should be able to justify such official calls/text were necessary. Valid calls/text are those emergency in nature to prevent serious financial losses to the company and/or where the reputation/image of N1S is at stake. Either of following approval is mandatory to be considered as official call/text.
        <br>6.1 Approval of two (2) EXECOM members
        <br>6.2 Approval of the President & CEO</li>
      <li>Unapproved excess bills shall be automatically charged to employee via salary deduction in FULL PAYMENT </li>
      <li>To maintain, preserve and exercise diligence in caring for the company property entrusted to you. Cost of loss or damage to this company property shall be charged to your personal account. Disciplinary measures/corrective actions shall be imposed on you if loss or damage/s to the said property results from neglect and/or improper use of the unit.
          <br><br>Upon expiration of two years locked-in contract with the service provider, handsets maybe given to the assignee upon the discretion of the top management.</li>
      <li>In cases of voluntary resignation or any reason of separation from the company, complete set (handset, simcard, memory card, battery & charger) that was provided by the company should be surrendered to Asset Management Staff. Failure to do so will automatically result to deductions versus employees’ accrued benefits.</li>
    </ol>

    <center>
      <p class="note">By your receipt hereof you acknowledge and accept full responsibility and accountability on damages and or losses incurred by this company’s asset as a result of misuse or negligence. The company will impose charges upon the degree of negligence.</p>
    </center>

    <table cellspacing="5px" class="table-b">
      <tr>
        <td>ACKNOWLEDGED BY:</td>
        <td style="width: 230px; border-bottom: 0.5px solid #000;"></td>
      </tr>
      <tr>
        <td colspan="2" dir="rtl">Employee Signature Over Printend Name</td>
      </tr>
      <tr>
        <td>NOTED BY:</td>
        <td style="width: 230px; border-bottom: 0.5px solid #000;"></td>
      </tr>
      <tr>
        <td colspan="2" dir="rtl">Department Head / Immediate Supervisor</td>
      </tr>
      <tr>
        <td>ACCOUNTED BY:</td>
        <td style="width: 230px; border-bottom: 0.5px solid #000;"></td>
      </tr>
      <tr>
        <td colspan="2" dir="rtl">Asset Management In-Charge</td>
      </tr>
    </table>

    <p>Cc: 201 File</p>
  </div>
  {% endfor %}
</body>
</html>
