{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IT EQUIPMENT PRINT</title>
  <style>
    * {
      margin: 0.5px;
      padding: 0px 3px;
      font-family: Arial;
      font-size: 11px;
    }

    ul li {
      list-style: none;
    }

    .m-10 {
      margin: 5px;
    }

    .container {
      page-break-after: always;
    }

    @media print {
      @page {
        margin: 0;
      }
    }

    .banner {
      width: 400px;
    }

    img.logo {
      width: 300px;
      height: 60px;
    }

    img.device {
      width: 150px;
      height: 80px;
    }

    table.table-a {
      width: 100%;
    }

    .guidelines {
      border: 0.5px solid #000;
      padding: 5px;
    }

    .guidelines dt,
    .guidelines dd ol li {
      color: #4eabe6;
    }

    .guidelines h4 u {
      color: #9c0517;
    }

    .authority {
      padding: 3px;
      background-color: #ebdb52;
    }

    table.table-c {
      width: 100%;
    }

    .signature {
      margin-top: 10px;
      margin-left: 30px;
    }
  </style>
</head>
<body onload="window.print();">
  {% for field in object %}
  <div class="container">
      <center class="m-10">
        <table class="banner">
          <tr>
            <td><img src="{% static 'brandlogo.png' %}" alt="" class="logo"></td>
            <td><img src="{% static 'device.png' %}" alt="" class="device"></td>
          </tr>
        </table>
      </center>

    <h3 class="m-10">IT EQUIPMENT / SFA SELLING TOOLS ASSIGNMENT FORM</h3>

    <table cellspacing="0px" cellpadding="0px" class="table-a" border="1px" class="m-10">
      <tr>
        <th colspan="2" style="background-color: #878686; color: #ffffff;">From</th>
        <th colspan="2" style="background-color: #878686; color: #ffffff;">To</th>
        <th style="background-color: #878686; color: #ffffff;">Date Printed</th>
      </tr>
      <tr>
        <td style="width: 150px;"><strong>Name</strong></td>
        <td style="width: 650px; height: 30px;">{{ field.userfrom }}</td>
        <td style="width: 150px;"><strong>Name</strong></td>
        <td style="width: 650px; height: 30px;">{{ field.custodian }}</td>
        <td rowspan="2" style="width: 300px;"><center><script>document.write(((new Date()).getMonth() + 1) + '/' + ((new Date()).getDate()) + '/' + ((new Date()).getFullYear()));</script></center></td>
      </tr>
      <tr>
        <td style="width: 150px;"><strong>Location</strong></td>
        <td style="width: 650px; height: 30px;">{{ field.location1 }}</td>
        <td style="width: 150px;"><strong>Location</strong></td>
        <td style="width: 650px; height: 30px;">{{ field.location2 }}</td>
      </tr>
      <tr>
        <th style="background-color: #878686; color: #ffffff;">Asset Control No.</th>
        <th style="background-color: #878686; color: #ffffff;">IMEI No. / Serial No.</th>
        <th style="width: 300px; background-color: #878686; color: #ffffff;">SIM No.</th>
        <th style="background-color: #878686; color: #ffffff;">Model</th>
        <th style="background-color: #878686; color: #ffffff;">User Type</th>
      </tr>
      <tr>
        <td style="height: 30px;"></td>
        <td style="height: 30px;">{{ field.imei }}</td>
        <td style="height: 30px;">{{ field.mobile }}</td>
        <td style="height: 30px;">{{ field.device }}</td>
        <td rowspan="3"><center>{{ field.usertype }}</center></td>
      </tr>
      <tr>
        <td style="width: 150px;">Accessories</td>
        <td colspan="3" style="height: 30px;">{{ field.accessories }}</td>
      </tr>
      <tr>
        <td style="width: 200px;">OTHER DEVICES</td>
        <td colspan="3" style="height: 30px;"></td>
      </tr>
      <tr>
        <td style="width: 150px;">Remarks</td>
        <td colspan="4" style="height: 30px;"></td>
      </tr>
    </table>

  <h3 class="m-10">HARDWARE</h3>

  <ul class="m-10">
    <li>- Secure the IT equipment at all times and in all places to protect it against theft, robbery, accidental damage</li>
    <li>- IT equipment is for business use only</li>
    <li>- Configuration of the computer should not be altered in any circumstances.</li>
  </ul>

  <div class="guidelines m-10">
    <h4><u>IT EQUIPMENT SECURITY AND SAFETY GUIDELINES</u></h4>

    <dl>
      <dt><strong>General Guidelines:</strong></dt>
      <dd>
        <ol>
          <li>Place IT Equipment on top of a stable surface, within a suitable working area, not near any liquids or where the IT equipment will get wet or damaged accidentally (ex. pantry, kitchen, bathroom, garage).</li>
          <li>When IT equipment gets wet, immediately switch-off and have it checked by SFA Support Group.  You may call your SFA Support Hotline for assistance.</li>
          <li>IT equipment must be kept out of reach of children at all times.</li>
          <li>When IT equipment gets lost, damaged or stolen, immediately report this to your line manager and SFA Support Hotline and file Lost and Damage Report Form.</li>
        </ol>
      </dd>
    </dl>

    <dl>
      <dt><strong>Portable IT Equipment (laptops, tables, projectors, external hard disks) Guidlines</strong>
          <br><strong>Use of Portable IT Equipment:</strong></dt>
      <dd>
        <ol>
          <li> In the office, secure the tablet at all times.</li>
          <li> In conference or meeting rooms, always ensure that the rooms are locked when temporarily leaving the area (lunch break, etc.).</li>
          <li>At home, be cautious of working near windows and doors where it can easily be stolen.</li>
          <li>At cafés and restaurants, ensure a safe distance from beverages and food and do not leave the portable IT equipment unattended.</li>
        </ol>
      </dd>
    </dl>

    <dl>
      <dt><strong>Storage of Portable IT Equipment</strong></dt>
      <dd>
        <ol>
          <li> In the office or  at home, portable IT equipment should be placed under lock and key (drawer and room, if applicable) when leaving it for an extended period of time (leaving for the night/day or for the weekend).</li>
          <li>When staying in a hotel, place the portable IT equipment in a room safe or if it is not possible, in your closed suitcase.</li>
        </ol>
      </dd>
    </dl>

    <dl>
      <dt><strong>Travelling with Portable IT Equipment:</strong></dt>
      <dd>
        <ol>
          <li>Do not leave your portable IT equipment unattended in public places such as airports, piers, train/bus stations and hotels. Do not check-in your portable IT equipment, keep it with you.</li>
          <li>Do not leave any portable IT equipment inside your vehicle unattended.  </li>
        </ol>
      </dd>
    </dl>
  </div>

  <h3 class="m-10">SOFTWARE/EXECUTABLE FILES:</h3>

  <ul class="m-10">
    <li>- Use only authorized software that has been properly licensed to the Company.</li>
    <li>- Never install personal software (i.e. non - business software) unless it is authorized.</li>
    <li>- Always adhere to the Company software Allocation and Control process.</li>
  </ul>

  <h3 class="m-10">DATA FILES:</h3>

  <ul class="m-10">
    <li>- User is responsible for the backup of his data in the local hard drive of his computer.</li>
    <li>- Prior to returning the IT equipment, the user is responsible for removing all data files.</li>
  </ul>

  <table class="table-b m-10">
    <tr>
      <td><strong>Agreed Date of Return:</strong></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">I shall return the ITFA as indicated on the "Agreed Date of Return".
                      I understand that if I fail to return a borrowed unit after "Agreed Date of Return" (maximum of 3 months),
                      this device will be deactivated from the system.</td>
    </tr>
  </table>

  <h3>DISCLAIMER</h3>

  <p>I acknowledge that I have read and I agree with responsibilities stated above and that I may be liable for loss or damage of IT equipment while in my care.</p>

  <div class="authority m-10">
    <h3>NO. 1 SUPPLIER(N1S) AUTHORITY</h3>
    <p>I hereby agree and acknowledge that N1S has the absolute authority to access the ITFA/IT equipment and its contents, and to make any alterations/deletions/additions to all data files, software and/or components of such IT equipment pursuant to applicable N1S policies.</p>
  </div>

  <table cellpadding="5px" class="table-c m-10">
    <tr>
      <td align="center" style="margin-top: 10px"><strong>Dispatched By:</strong></td>
      <td align="center" style="margin-top: 10px"><strong>Approved By:</strong></td>
      <td align="center" style="margin-top: 10px"><strong>Received, Read & Understood By:</strong></td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">JENNY GABORNO</td>
      <td align="center" style="padding-top: 20px; text-transform: uppercase;">{{ field.operation_manager }}</td>
      <td align="center" style="padding-top: 20px">{{ field.custodian }}</td>
    </tr>
    <tr>
      <td align="center" style="margin-top: 10px"><strong>Accounting</strong></td>
      <td align="center" style="margin-top: 10px"><strong>OM / President & CEO</strong></td>
      <td align="center" style="margin-top: 10px"><strong>Custodian</strong></td>
    </tr>
  </table>

  <h3>Checked By:</h3>
  <div class="signature">
    <p>
      ANDREW JOSEPH MARIE MONTELIBANO/ LOYMSON YAP
    </p>
    <p><strong> I.T Manager / Tech. Support</strong></p>
  </div>
  </div>
  {% endfor %}
</body>
</html>
