<form action="{% url 'apps:product:productcreate' %}" method="post">
  {% csrf_token %}
  {{ product_form.as_table }}
  <button type="submit">Create</button>  
</form>

{% include 'helpers/messages.html' %}

<table>
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    {% empty %}
    <tr>
      <td colspan="5">NO DATA FOUND</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
