{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>No. 1 Supplier, Inc. - MCP GO, Panel</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">

	{% block link_stylesheet %}{% endblock %}
	
	<!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>No. 1 Supplier</span> (MCP GO - PANEL)</a>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-user"></em><span class="label label-info"></span>
					</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li><a href="#">
								<div><em class="fa fa-cog"></em> Profile Settings
									<span class="pull-right text-muted small"><i class="fa fa-arrow-right"></i></span></div>
							</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'apps:logout' %}">
								<div><em class="fa fa-close"></em> Log Out</div>
							</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="{% url 'apps:dashboard' %}"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			{% if request.user.groups.all.first|lower == 'admin' %}
			<li><a href="{% url 'apps:accountlist' %}"><em class="fa fa-users">&nbsp;</em> User Accounts</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> MCP <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="{% url 'apps:gtmlist' %}">
						<span class="fa fa-table">&nbsp;</span> Records
					</a></li>
					<li><a class="" href="{% url 'apps:syncfile' %}">
						<span class="fa fa-upload">&nbsp;</span> Sync File
					</a></li>
				</ul>
			</li>
			{% endif %}
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="">
					{{ context_icon|safe }}
				</a></li>
				<li class="active"><span style="text-transform: capitalize;">{{ context_title }}</span></li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><span style="text-transform: uppercase;">{{ context_title }}</span></h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-12">
							{% block content %}{% endblock %}
						</div>
					</div>
				</div><!-- /.panel-->
			</div><!-- /.col-->
			<div class="col-sm-12">
				<p class="back-link">No. 1 Supplier, Inc.</p>
			</div>
		</div><!-- /.row -->
	</div><!--/.main-->
	
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/chart.min.js' %}"></script>
	<script src="{% static 'js/chart-data.js' %}"></script>
	<script src="{% static 'js/easypiechart.js' %}"></script>
	<script src="{% static 'js/easypiechart-data.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	{% block script %}{% endblock %}
	
</body>
</html>
