{% extends 'base/panel.html' %}

{% block content %}
<a href="">
    <div class="col-lg-3 col-md-6">
        <div class="social-box">
            <i class="fa fa-clipboard"></i>
            <b>ROCK LOCATIONS</b>
        </div>
        <!--/social-box-->
    </div>
</a>
<!--/.col-->

<a href="">
    <div class="col-lg-3 col-md-6">
        <div class="social-box">
            <i class="fa fa-upload"></i>
            <b>SYNC WMS RECORDS</b>
        </div>
        <!--/social-box-->
    </div>
</a>
<!--/.col-->

<a href="">
    <div class="col-lg-3 col-md-6">
        <div class="social-box">
            <i class="fa fa-list"></i>
            <b>WMS DATA</b>
        </div>
        <!--/social-box-->
    </div>
</a>
<!--/.col-->

<a href="{% url 'app:users' %}">
    <div class="col-lg-3 col-md-6">
        <div class="social-box">
            <i class="fa fa-users"></i>
            <b>WMS USERS</b>
        </div>
        <!--/social-box-->
    </div>
</a>
<!--/.col-->
{% endblock %}