{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>TIME KEEPING</title>
  <style>
    .btn-numpad {
      width: 200px; height: 70px;
    }

    #time-view {
      font-size: 120px;
      width: 100%;
      font-weight: bolder;
      text-align: center;
    }

    #date-view {
      float: right;
      font-weight: bold;
      margin-right: 30px;
      font-size: 40px;
    }

    .clearfix {
      clear: both;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
