<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training memo</title>
    <style>
        html {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        body {
            padding: 20px;
        }

        .container {
            width: 100%;
            height: 100%;
        }

        @media print {
            @page {
                margin: 0;
                size: portrait;
            }
            
            button {
                display: none;
            }

            .container {
                page-break-after: always;
            }
        }
    </style>
</head>
<body>
    <button onclick="window.print();">Print</button>
    <div class="container">
        <center>
            <img src="/media/brandlogo.png" alt="NO. 1 SUPPLIER, INC. LOGO" style="width: 350px; height: 70px; margin: 10px 0px 10px 0px;">
        </center>
        <table width="100%">
            <tbody>
                <tr>
                    <td width="50%">Dear <span style="text-transform: capitalize;">{{ dataObject.dear }}</span>,</td>
                    <td width="50%" dir="rtl">Date: {{ dataObject.date }}</td>
                </tr>
            </tbody>
        </table>
    
        <hr style="margin: 10px 0px 10px 0px;">
    
        <p><strong>Training Objectives:</strong></p>
    
        <ol>
            <li style="text-transform: uppercase;"><p>{{ dataObject.to1 }}</p></li>
            <li style="text-transform: uppercase;"><p>{{ dataObject.to2 }}</p></li>
        </ol>
    
        <p><strong>Business Objectives/Results:</strong></p>
    
        <table width="100%" border="1px" cellspacing="0">
            <thead>
                <th></th>
                <th>Objective</th>
                <th>Actual</th>
                <th>%</th>
            </thead>
            <tbody>
                <tr>
                    <td width="40%">Volume</td>
                    <td width="20%" align="center">{{ dataObject.volume_objective }}</td>
                    <td width="20%" align="center">{{ dataObject.volume_actual }}</td>
                    <td width="20%" align="center">{{ dataObject.volume_percent }}</td>
                </tr>
                <tr>
                    <td width="40%">Call Productivity</td>
                    <td width="20%" align="center">{{ dataObject.callproductivity_objective }}</td>
                    <td width="20%" align="center">{{ dataObject.callproductivity_actual }}</td>
                    <td width="20%" align="center">{{ dataObject.callproductivity_percent }}</td>
                </tr>
                <tr>
                    <td width="40%">Distribution Must Haves</td>
                    <td width="20%" align="center">{{ dataObject.distribution_objective }}</td>
                    <td width="20%" align="center">{{ dataObject.distribution_actual }}</td>
                    <td width="20%" align="center">{{ dataObject.distribution_percent }}</td>
                </tr>
                <tr>
                    <td width="40%">Total Range</td>
                    <td width="20%" align="center">{{ dataObject.range_objective }}</td>
                    <td width="20%" align="center">{{ dataObject.range_actual }}</td>
                    <td width="20%" align="center">{{ dataObject.range_percent }}</td>
                </tr>
                <tr>
                    <td width="40%">Merchandising</td>
                    <td width="20%" align="center">{{ dataObject.merchandising_objective }}</td>
                    <td width="20%" align="center">{{ dataObject.merchandising_actual }}</td>
                    <td width="20%" align="center">{{ dataObject.merchandising_percent }}</td>
                </tr>
                <tr>
                    <td width="40%">Cycle Plans</td>
                    <td width="20%" align="center">{{ dataObject.cycle_objective }}</td>
                    <td width="20%" align="center">{{ dataObject.cycle_actual }}</td>
                    <td width="20%" align="center">{{ dataObject.cycle_percent }}</td>
                </tr>
            </tbody>
        </table>
    
        <dl>
            <dt><strong>Stregnths:</strong></dt>
            <dd style="margin: 15px; text-transform: uppercase;">{{ dataObject.strength }}</dd>
            <dt><strong>Oppurtunities:</strong></dt>
            <dd style="margin: 15px; text-transform: uppercase;">{{ dataObject.oppurtunities }}</dd>
            <dt><strong>Insights:</strong></dt>
            <dd style="margin: 15px; text-transform: uppercase;">{{ dataObject.insights }}</dd>
            <dt><strong>Action Plan:</strong></dt>
            <dd style="margin: 15px; text-transform: uppercase;">{{ dataObject.actionplan }}</dd>
            <dt><strong>Next Step:</strong></dt>
            <dd style="margin: 15px; text-transform: uppercase;">{{ dataObject.nextstep }}</dd>
        </dl>
    
        <p>Sincerely,</p>
    
        <table width="100%">
            <tbody>
                <tr>
                    <td width="50%" align="center">Trainer Name, Signature and Date</td>
                    <td width="50%" align="center">Trainee Name, Signature and Date</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>