{% extends 'base/panel.html' %}

{% block content %}
<div class="panel panel-container">
    <div class="row">
        {% if request.user.groups.all.first|lower == 'admin' %}
        <a href="{% url 'apps:accountlist' %}">
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-teal panel-widget border-right">
                    <div class="row no-padding"><em class="fa fa-xl fa-users color-blue"></em>
                        <div class="medium">ACCOUNTS</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'apps:gtmlist' %}">
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding"><em class="fa fa-xl fa-table color-orange"></em>
                        <div class="medium">MCP</div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
    </div><!--/.row-->
</div>
{% endblock %}