{% for f in form %}
    <div class="form-group">
        <label for="{{ f.id_for_label }}">{{ f.label|upper }}</label>
        {{ f }}
        {% if f.help_text %}
            <small class="form-text text-muted">
            {{ f.help_text|safe }}
            </small>
        {% endif %}
        {% if f.errors %}
        <div class="alert alert-danger">
        {% for error_message in f.errors %}
            {{ error_message|linebreaks }}
        {% endfor %}
        </div>
        {% endif %}
    </div>
{% endfor %}