{% extends 'dashboard/base.html' %}

{% block title %}
- Dashboard
{% endblock %}

{% block content %}
<div class="col-md-12 grid-margin">
    <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Welcome {{ request.user.username|upper }}!</h3>
        <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6>
        </div>
    </div>
</div>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card tale-bg">
    <div class="card-people mt-auto">
        <img src="/media/sys/people.svg" alt="people">
        <div class="weather-info">
        <div class="d-flex">
            <div>
            <h2 class="mb-0 font-weight-normal"><i class="ti-calendar mr-2"></i><script>document.write(new Date().toLocaleDateString());</script></h2>
            </div>
            <div class="ml-2">
            <h4 class="location font-weight-normal">No. 1 Supplier, Inc.</h4>
            <h6 class="font-weight-normal">Web Server Panel</h6>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="col-md-6 grid-margin transparent">
    <div class="row">
    <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-tale">
        <div class="card-body">
            <p class="mb-4">Application Module</p>
            <a href="{% url 'apps:contactlistview' %}" class="text-white">
                <p class="fs-30 mb-2"><i class="ti-home"></i> Contact Us</p>
            </a>
        </div>
        </div>
    </div>
    <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
        <div class="card-body">
            <p class="mb-4">Web Module</p>
            <a href="{% url 'apps:departmentlistview' slug='department' %}" class="text-white">
                <p class="fs-30 mb-2"><i class="ti-trello"></i> Departments</p>
            </a>
        </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
        <div class="card card-light-blue">
        <div class="card-body">
            <p class="mb-4">Application Module</p>
            <a href="{% url 'apps:applicationlistview' %}" class="text-white">
                <p class="fs-30 mb-2"><i class="ti-user"></i> Applicant</p>
            </a>
        </div>
        </div>
    </div>
    <div class="col-md-6 stretch-card transparent">
        <div class="card card-light-danger">
        <div class="card-body">
            <p class="mb-4">Web Module</p>
            <a href="{% url 'apps:listviewmodule' slug='newsevents' %}" class="text-white">
                <p class="fs-30 mb-2"><i class="ti-write"></i> News &amp; Events</p>
            </a>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}