{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>J-SQUARED</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/node_modules/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/default.css' %}" id="theme" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body class="fix-header card-no-border fix-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">J - SQUARED</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar no-print-view">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                                href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro">
                            {% if user.is_authenticated %}
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="{% url 'core:logout' %}">
                              <i class="fa fa-power-off"></i>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar hideprint no-print-view">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        {% if user.is_authenticated %}
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:dashboard' %}" aria-expanded="false"><i
                                    class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:foodcategory' %}" aria-expanded="false"><i
                                    class="fa fa-cutlery"></i><span class="hide-menu">Food Service</span></a>
                        </li>
                        {% endif %}
                        <hr/>
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:createorder' typeoforder='resto' %}" aria-expanded="false"><i
                                    class="fa fa-shopping-basket"></i><span class="hide-menu">Order</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:createorder' typeoforder='online' %}" aria-expanded="false"><i
                                    class="fa fa-shopping-basket"></i><span class="hide-menu">Online Order</span></a>
                        </li>
                        <hr/>
                        {% if user.is_authenticated %}
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:pendingorder' %}" aria-expanded="false"><i
                                    class="fa fa-exclamation"></i><span class="hide-menu">Pending Orders</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:invoice' %}" aria-expanded="false"><i
                                    class="fa fa-credit-card-alt"></i><span class="hide-menu">Invoices</span></a>
                        </li>
                        <hr/>
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:generatereports' %}" aria-expanded="false"><i
                                    class="fa fa-print"></i><span class="hide-menu">Generate Reports</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:expenselist' %}" aria-expanded="false"><i
                                    class="fa fa-shopping-bag"></i><span class="hide-menu">Expense</span></a>
                        </li>
                        <hr/>
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:tablelist' %}" aria-expanded="false"><i
                                    class="fa fa-table"></i><span class="hide-menu">Tables</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'core:discountlist' %}" aria-expanded="false"><i
                                    class="fa fa-table"></i><span class="hide-menu">Discounts</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles no-print-view">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">{% block title %}{% endblock %}</h3>
                        <ol class="breadcrumb hideprint">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">{% block subtitle %}{% endblock %}</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/node_modules/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/node_modules/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/node_modules/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>
