{% extends 'base/credentials.html' %}

{% block content %}
<div class="login-content">
    <div class="login-logo">
        <a href="{% url 'app:login' %}">
            <img class="align-content" src="/media/system/logo.png" alt="" style="width: 150px; height: 150px;">
        </a>
    </div>
    <div class="login-form">
        {% if next %}
            <div class="alert alert-danger">Log in require first.</div>
        {% endif %}

        {% if form.non_field_errors %}
            {% for key, error in form.errors.items %}
                {% for error_message in error %}
                    <div class="alert alert-danger">{{ error_message }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        <form action="" method="post">
            {% csrf_token %}
        
            {% for f in form %}
                <div class="form-group">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Log in</button>
        </form>
    </div>
</div>
{% endblock %}