{% extends 'base/timebase.html' %}

{% block content %}
<script>
  function numPad(value) {
    let input_id = document.querySelector('#id_employee_id');
    if(input_id.value.length <= 3) {
      input_id.value += value;
    }
  }

  function clearinput() {
    let input_id = document.querySelector('#id_employee_id');

    if(input_id.value.length > 0) {
      let new_value = input_id.value.slice(0, -1);
      input_id.value = new_value;
    }
  }

  window.onload = function() {
    function fetchTime() {
      let mDate = new Date();
      var hour = mDate.getHours();
      var minute = mDate.getMinutes();
      var second = mDate.getSeconds();
      var meridian = (hour >= 12) ? 'PM' : 'AM';
      var month = mDate.getMonth();
      var day = mDate.getDay();
      var year = mDate.getFullYear();

      var month_list = [
        'Jan', 'Feb', 'Mar',
        'Apr', 'May', 'Jun',
        'Jul', 'Aug', 'Sep',
        'Oct', 'Nov', 'Dec'
      ]

      var construct_date = month_list[month] + ' ' + day + ', ' + year;

      var construct_time = ((hour > 12) ? (hour - 12 * 1) : (hour < 10) ? '0' + hour : hour) + ':' + ((minute < 10) ? '0' + minute : minute) + ':' + ((second < 10) ? '0' + second : second) + ' ' + meridian;

      document.querySelector('#id_time').value = construct_time;
      document.querySelector('#time-view').innerHTML = construct_time;
      document.querySelector('#date-show').innerHTML = construct_date;
    }

    function loadTime() {
      const interval = 1000;

      setInterval(function() {
        fetchTime();
      }, interval);
    }

    fetchTime();
    loadTime();
  }
</script>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
  {% endfor %}
{% endif %}

<div class="col-lg-12 d-flex justify-content-center">
  <div class="col-lg-8">
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td>
            <p id="time-view"></p>
          </td>
        </tr>
        <tr>
          <td dir="rtl">
            <p id="date-view">Date: <span id="date-show">Jan 1, 2020</span></p>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="clearfix"></div>
    
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1"></button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <table>
        <tbody>
          <tr>
            <th><button onclick="numPad(1);" class="btn-numpad btn btn-lg btn-primary">1</button></th>
            <th><button onclick="numPad(2);" class="btn-numpad btn btn-lg btn-primary">2</button></th>
            <th><button onclick="numPad(3);" class="btn-numpad btn btn-lg btn-primary">3</button></th>
          </tr>
          <tr>
            <th><button onclick="numPad(4);" class="btn-numpad btn btn-lg btn-primary">4</button></th>
            <th><button onclick="numPad(5);" class="btn-numpad btn btn-lg btn-primary">5</button></th>
            <th><button onclick="numPad(6);" class="btn-numpad btn btn-lg btn-primary">6</button></th>
          </tr>
          <tr>
            <th><button onclick="numPad(7);" class="btn-numpad btn btn-lg btn-primary">7</button></th>
            <th><button onclick="numPad(8);" class="btn-numpad btn btn-lg btn-primary">8</button></th>
            <th><button onclick="numPad(9);" class="btn-numpad btn btn-lg btn-primary">9</button></th>
          </tr>
          <tr>
            <th colspan="2"><button onclick="numPad(0);" style="width: 100%;" class="btn-numpad btn btn-lg btn-primary">0</button></th>
            <th><button onclick="clearinput();" class="btn-numpad btn btn-lg btn-primary">x</button></th>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="col-lg-6" style="height: 300px; overflow-y: auto;">
    <table class="table">
      <tbody>
        {% for field in context_data %}
          <tr>
            <td>{{ field.date }}</td>
            <td>{{ field.date.employee }} - {{ field.date.employee.first_name }}, {{ field.date.employee.last_name }}</td>
            <td>{{ field.time }}</td>
            <td>{{ field.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
