{% extends 'base/panelbase.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'table/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'table/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'table/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#table').DataTable();
  });
</script>
{% endblock %}

{% block title %}{{ context_title }}{% endblock %}
{% block subtitle %}{{ context_title }}{% endblock %}

{% block content %}
{% include 'helpers/messages.html' %}
<h1>{{ invoice_no }}</h1>

<div class="row">
  <div class="col-lg-6">
    <h2>Customer Order:</h2>

    <table class="table" style="width: 100%;">
      <thead>
        <tr>
          <th>Order</th>
          <th>Price</th>
          <th>Qty</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for field in orders %}
        <tr>
          <td>{{ field.product_name }}</td>
          <td>{{ field.price }}</td>
          <td>{{ field.qty }}</td>
          <td>
            <ul class="list-inline">
              <li class="list-inline-group">
                <a href="{% url 'core:updateitemqty' pk=field.pk typeoforder=typeoforder %}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Update Qty</a>
              </li>
              <li class="list-inline-group">
                <form action="{% url 'core:deleteitem' pk=field.pk typeoforder=typeoforder %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                </form>
              </li>
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Total Purchase: {{ total_purchase }}</h3>

    <hr>

    <form action="{% url 'core:checkoutorder' typeoforder=typeoforder %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label>
          Customer Cash:
          <input type="number" name="cash" id="cash" class="form-control">
        </label>
      </div>
      <div class="form-group">
        <label>
          Order Table:
          <select name="tablelist" id="tablelist" class="form-control" required>
            <option value="">---------------------------------</option>
            {% if typeoforder == 'online' %}
            <option value="Online Order">Online Order</option>
            {% else %}
              {% for table in tables %}
                <option value="{{table.table}}"><span style="text-transform: capitalize;">{{table.table}}</span></option>
              {% endfor %}
            {% endif %}
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Discount Table:
          <select name="discountlist" id="discountlist" class="form-control">
            <option value="">---------------------------------</option>
            {% for discount in discounts %}
              <option value="{{discount.discount}}"><span>{{discount.discount}}%</span></option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          No. of Discounted Person:
          <input type="number" name="discountperson" id="discountperson" class="form-control">
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-sm btn-primary text-white">Checkout Order</button>
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <h2>Food Menu</h2>
    <table id="table" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Food Menu</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for field in products %}
      <tr>
        <td style="text-transform: capitalize;">{{ field.product_name }}</td>
        <td>{% if typeoforder == 'resto' %}{{ field.price }}{% else %}{{ field.online_price }}{% endif %}</td>
        <td><a href="{% url 'core:takeorder' pk=field.pk typeoforder=typeoforder %}" class="btn btn-sm btn-primary form-control text-white"><i class="fa fa-check"></i></a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>



<hr>
{% endblock %}
