{% extends 'base/panel.html' %}

{% block icon %}fa-lock{% endblock %}
{% block title %}{{ context_title|safe }}{% endblock %}
{% block subtitle %}{{ context_title|safe }}{% endblock %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <small class="form-text">* {{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-md btn-primary form-control">Change Password</button>
</form>

{% endblock %}