{% extends 'base/login.html' %}

{% load static %}

{% block content %}

<center>
    <img src="{% static 'logo.png' %}" alt="Image" style="width: 200px; height: 200px;">
</center>

{% comment %}
    Next is an paramater which redirect the user from accessing those modules
    without logging in to their credentials.
{% endcomment %}

{% if next %}
    <div class="alert alert-warning">You are trying to access some modules which require login. Please login first.</div>
{% endif %}
<form method="post" role="form">
    {% csrf_token %}

    {% comment %}
        Check if the form trigger the error_messages.
        Get the error messages by iterate them in a for loop.
    {% endcomment %}

    {% if form.errors %}
        {% for key, error in form.errors.items %}
            {% for error_message in error %}
                <div class="alert alert-danger">{{error_message}}</div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    {% comment %}
        Iterate form field by for looping.
    {% endcomment %}
    <fieldset>
        {% for field in form %}
            <label for="{{ field.id_label_tag }}">{{ field.label_tag }}</label>
            <div class="form-group">
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-md btn-primary form-control">Log in</button>
</form>

{% endblock %}