{% extends 'base/panelbase.html' %}

{% block title %}{{ context_title }}{% endblock %}
{% block subtitle %}{{ context_title }}{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% for f in form %}
  <div class="form-group">
    <label for="{{ f.id_label_tag }}">{{ f.label }}</label>
    {{ f }}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-sm btn-primary form-control text-white">Generate Reports</button>
</form>

<h3>{{ date }}</h3>

<table class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Expense</th>
      <th>Price</th>
      <th>Qty</th>
    </tr>
  </thead>
  <tbody>
    {% for field in object %}
      <tr>
        <td>{{ field.expense_title }}</td>
        <td>{{ field.price }}</td>
        <td>{{ field.qty }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2 class="float-right">Total: {{ context_total_purchase }}</h2>
<div class="clearfix"></div>
{% endblock %}
