{% extends 'base/panelbase.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'table/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'table/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'table/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#table').DataTable({
      "order": [[0, "desc"]]
    });
  });
</script>
{% endblock %}

{% block title %}{{ context_title }}{% endblock %}
{% block subtitle %}{{ context_title }}{% endblock %}

{% block content %}
<table id="table" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>ID No.</th>
      <th>Invoice No.</th>
      <th>Table No.</th>
      <th>Date</th>
      <th>Status</th>
      <th>Cash - Paid</th>
      <th>Cash Discounted</th>
      <th>Discount %</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for field in object %}
      <tr>
        <td>{{ field.pk }}</td>
        <td>{{ field.invoice_no }}</td>
        <td><span style="text-transform: capitalize;">{{ field.tableno }}</span></td>
        <td>{{ field.date }}</td>
        <td><center>{% if field.status == "paid" %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-close"></i>{% endif %}</center></td>
        <td>{{ field.cash }}</td>
        <td>{{ field.cash_discount }}</td>
        <td>{% if field.discount != '' %}{{ field.discount }}% * {{ field.discount_person }}{% else %}No Discount{% endif %}</td>
        <td>
          <a href="{% url 'core:orderlist' invoice_no=field.pk %}" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
