{% extends 'base/panel.html' %}

{% block header %}Dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
  <a href="{% url 'core:folder' type='ada' %}">
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-teal panel-widget border-right">
        <div class="row no-padding"><em class="fa fa-xl fa-folder color-blue"></em>
          <div class="medium">AUTO DEDUCTION ADVICE</div>
        </div>
      </div>
    </div>
  </a>
  <a href="{% url 'core:folder' type='itequipment' %}">
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-blue panel-widget border-right">
        <div class="row no-padding"><em class="fa fa-xl fa-folder color-orange"></em>
          <div class="medium">IT EQUIPMENT / SFA</div>
        </div>
      </div>
    </div>
  </a>
</div><!--/.row-->
{% endblock %}
